  <html lang="en">
  <head>
    <title>FLask</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>




<ul class="nav nav-tabs navbar-default ">


  <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
  <li><a data-toggle="tab" href="#about">About</a></li>
  <li><a data-toggle="tab" href="#display"> Display</a></li>
</ul>


<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <div class="row"><br><br>

        <div class="col-md-1"> </div>
        <div class="col-md-10">
          <div class="well">
            <h3>Details:</h3>
             <form action="/echo" method="POST" >
           
            <label for="name">Name:</label>
            <input type="text" class="form-control" name="name">
         
         
            <label for="email">Email:</label>
            <input type="text" class="form-control" name="email">
            <label for="sub">Sub:</label>
            <input type="text" class="form-control" name="sub">
           <div class="form-group">
            <label for="dis">Description:</label>
            <textarea class="form-control" rows="5" name="dis"></textarea>
          </div> 
              <button type="submit" class="btn btn-primary">Submit</button>
          <!--well--></div>
        </form>
          <!--col--></div>
          <div class="col-md-1"></div>
        </div><!--row-->


  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Menu 1</h3>
    <p>Some content in menu 1.</p>
  </div>
  <div id="display" class="tab-pane fade">
    <br><br><br>
    <div class="jumbotron" >
    <h2 style="margin-left: 20px;">Search</h2>
    <p>
      <form action="/echo" method="POST" style="margin-left: 20px;">
        <label>Name:</label>
        <input type="text" name="id">
          <button input name="update" type="submit" class="btn  btn-info btn-md" data-toggle="collapse" data-target="#demo">Search</button>
      </form>
<!--jumbotron-->
</div>


  </div>
</div>